---
import { Content } from './info.md';
import { getPackages } from '../lib/packages';
import Item from './Item.astro';

const packages = getPackages();
---

<div class="bg-white p-4 shadow-2xl rounded-2xl prose-sm">
	<Content />
	<ul class="not-prose">
		{
			packages.map((pkg) => (
				<li>
					<Item pkg={pkg} />
				</li>
			))
		}
	</ul>
</div>
