---
import { Content } from './info.md';
import { getPackages } from '../lib/packages';
import Item from './Item.astro';
import { getApps } from '../lib/apps';

const packages = getPackages();
const apps = getApps();
---

<div
	class="bg-linear-to-b from-amber-500 to-red-500 p-4 z-10 prose-sm border-b-4 border-b-rose-900 hover:ring-8 transition-shadow focus-within:ring-8 ring-4 ring-rose-900">
	<Content />
	<ul class="not-prose">
		{
			packages.map((pkg) => (
				<li>
					<Item pkg={pkg} />
				</li>
			))
		}
	</ul>
	<hr class="m-2! border-t border-t-pink-900" />
	<ul class="not-prose">
		{
			apps.map((app) => (
				<li>
					<Item pkg={app} />
				</li>
			))
		}
	</ul>
</div>
